################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/FileContentIndex/32961506-a6a8-4fd9-8c96-b614a6d6ec34.vsidx
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/FileContentIndex/554d7ed1-0aa9-4d0e-b799-ab0cec2a7255.vsidx
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/FileContentIndex/6413843f-0e03-44f4-a5ec-a28dacaf4834.vsidx
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/FileContentIndex/7598dd80-ef7e-4361-84b2-1ed3912b51f7.vsidx
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/FileContentIndex/a2a7838d-9f3d-4591-8f80-151db414518a.vsidx
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/CopilotIndices/17.14.995.13737/CodeChunks.db
/DeliveryLogisticsAndTracking/.env
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/FileContentIndex/aefcadaf-7c50-4635-a9da-fe743920cb5e.vsidx
/DeliveryLogisticsAndTracking/.vs/DeliveryLogisticsAndTracking/v17/.suo
